---
import { pathHasLocale } from "astro:i18n";
import Socials from "./Socials.astro";

const navigation = [
  { href: "/", text: "Home" },
  // { href: "/projects", text: ".projects" },
  // { href: "/gallery", text: ".gallery" },
  // { href: "/archive", text: ".archive" },
  { href: "/cv", text: ".cv" },
];

// const projects = import.meta.glob(`../pages/projects/*.astro`);

// console.log(projects);
// .map((project) => {
//   const { title, description, slug } = project.data;
//   return { title, description, slug };
// });

const { page } = Astro.props;
---

<nav>
  <!-- Desktop Navigation -->
  <ul id="navbar">
    {
      navigation.map(({ href, text }) => (
        <li>
          <a
            href={href}
            class="nav-link"
            data-section={href.slice(1) || "home"}
          >
            {text}
          </a>
        </li>
      ))
    }
    <div id="socials">
      <Socials />
    </div>
  </ul>

  <!-- Mobile/Collapsed Navigation -->
  <div id="nav-collapsed">
    <div id="nav-links">
      <a class="menu">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
          width="24"
          height="24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
        </svg>
      </a>
      <a href={`/${page}`} id="current-page-link">.{page}</a>
    </div>

    <div id="nav-submenu">
      <ul id="nav-sublinks">
        {
          navigation.map(({ href, text }) => (
            <li>
              <a
                href={href}
                class="nav-sublink"
                data-section={href.slice(1) || "home"}
              >
                {text}
              </a>
            </li>
          ))
        }
      </ul>

      <div id="contact">
        <button id="cta">GET IN TOUCH</button>
        <div class="socials">
          <!-- Your social icons here -->
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  const sections = document.querySelectorAll("section");
  const currentPageLink = document.getElementById("current-page-link");

  const observerOptions = {
    root: null,
    rootMargin: "0px 0px -90% 0px",

    threshold: 0,
  };

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        const sectionId = entry.target.id;

        // Update the current page link text and href
        if (currentPageLink) {
          currentPageLink.textContent = `.${sectionId}`;
          currentPageLink.href = `/${sectionId}`;
        }
      }
    });
  }, observerOptions);

  // Observe all sections
  sections.forEach((section) => {
    if (section) {
      observer.observe(section);
    }
  });
</script>

<!-- <li><a href="/gallery">.gallery</a></li>
      <li><a href="/archive">.archive</a></li>
      <li><a href="/cv">.cv</a></li> -->

<!-- <div id="sublinks"><pre>{Object.keys(projects)}</pre></div> -->
<style lang="scss">
  $primary-color: black;
  $text-color: white;
  $hover-color: #333;
  $transition-timing: 0.5s linear;
  $mobile-breakpoint: 768px;

  @mixin transition {
    transition: $transition-timing;
    -o-transition: $transition-timing;
    -ms-transition: $transition-timing;
    -moz-transition: $transition-timing;
    -webkit-transition: $transition-timing;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  nav {
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: $primary-color;
    width: 100%;

    ul {
      list-style: none;
    }
  }

  a {
    color: $text-color;
    font-size: large;
  }

  #nav-collapsed {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    &:hover {
      .menu {
        @include transition;
        transform: rotateZ(90deg);
      }

      #nav-submenu {
        display: flex;
        padding-left: 24px;
      }
    }

    &:not(:hover) {
      .menu {
        @include transition;
      }
    }
  }

  #nav-links {
    width: 200px;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    align-items: center;
  }

  #nav-submenu {
    background-color: $primary-color;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    gap: 3em;
  }

  #nav-sublinks {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-self: flex-start;
    padding: 0;
  }

  #contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  #cta {
    flex-shrink: 0;
    color: $text-color;
    border: none;
    border-radius: 5px;
    font-size: xx-large;
    cursor: pointer;
    background-color: $primary-color;
    padding: 0;

    &:hover {
      color: $hover-color;
    }
  }

  #navbar {
    display: none;
  }

  @media screen and (min-width: $mobile-breakpoint) {
    #navbar {
      display: flex;
      flex-direction: row;
      gap: 1.5em;
    }

    #nav-collapsed {
      display: none;
    }
  }
</style>

<!-- <style>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  nav {
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: black;
    width: 100%;
  }

  nav ul {
    list-style: none;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: xx-large;
  }

  nav ul li a::hover {
    color: black;
    text-decoration: none;
    font-size: xx-large;
  }

  #nav-collapsed {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  #nav-links {
    width: 200px;
    display: flex;
    flex-direction: row;
    list-style: none;
    /* margin: 1rem 1rem; */
    padding: 0;
    align-items: center;
    /* padding: 1em; */
  }

  #nav-collapsed:hover .menu {
    transition: 0.5s linear;
    -o-transition: 0.5s linear; /* opera */
    -ms-transition: 0.5s linear; /* IE 10 */
    -moz-transition: 0.5s linear; /* Firefox */
    -webkit-transition: 0.5s linear; /*safari and chrome */
    transform: rotateZ(90deg);
  }

  #nav-collapsed:not(:hover) .menu {
    transition: 0.5s linear;
    -o-transition: 0.5s linear; /* opera */
    -ms-transition: 0.5s linear; /* IE 10 */
    -moz-transition: 0.5s linear; /* Firefox */
    -webkit-transition: 0.5s linear; /*safari and chrome */
    /* transform: rotateZ(-90deg); */
  }

  #nav-collapsed:hover #nav-submenu {
    display: flex;
  }

  #nav-submenu {
    background-color: black;
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: flex-end;
    gap: 3em;
  }

  #nav-sublinks {
    /* display: none; */
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-self: flex-start;
    padding: 0;
  }

  #contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  #cta {
    flex-shrink: 0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: xx-large;
    cursor: pointer;
    background-color: black;
    padding: 0;
  }

  button:hover {
    color: #333;
  }

  #navbar {
    display: none;
  }

  @media screen and (min-width: 768px) {
    #navbar {
      display: flex;
      flex-direction: row;
      gap: 1.5em;
    }
    #nav-collapsed {
      display: none;
    }
  }
</style> -->
